@import '$scss/local';

.cell {
  position: relative;
  display: flex;
  flex: 1 0 0;
  align-items: center;
  min-height: $table-row-height;
  padding-right: 1rem;
  overflow: hidden;

  &__header {
    justify-content: flex-end;
    white-space: normal;

    .span {
      white-space: normal;
    }
  }
}

.span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.divider {
  position: absolute;
  top: 50%;
  right: 0;
  display: none;
  width: 1px;
  height: $table-row-height / 2;
  background: map-get($colors-translucent, 'white-10');
  border-radius: 10px;
  transform: translateY(-50%);

  @include breakpoint-up {
    display: block;
  }
}
