@import '$scss/local';

.cell {
  display: flex;
  flex: 1 0 0;
  align-items: center;
  min-height: $table-row-height;
  overflow: hidden;

  &__header {
    justify-content: flex-end;
    white-space: normal;

    .span {
      white-space: normal;
    }
  }
}

.span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
