/* --------------------- ===
  NORMALIZE
--------------------------- */
body {
  margin: 0;
}

button {
  padding: 0; // Safari on ipad fix
  background: none;
  border: 0;
  cursor: pointer;
}

img {
  width: 100%;
  max-width: 100%;
}

::-webkit-scrollbar {
  width: $scrollbar-width;
}
// Track
::-webkit-scrollbar-track {
  background: map-get($scrollbar-colors, 'track');
}
// Handle
::-webkit-scrollbar-thumb {
  background: map-get($scrollbar-colors, 'thumb');
  border-radius: 1px;
}
// Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: map-get($scrollbar-colors, 'thumb');
}
// Intersection corner
::-webkit-scrollbar-corner {
  background: thumb;
}
