@import '$scss/local';
// --------------------- ===
//  LOCAL VARS
// ---------------------
$scrollbar-offset: $scrollbar-width * 2;

.row {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0 $table-end-padding;
  margin-bottom: $table-row-margin;
  margin-left: $scrollbar-offset;
  color: map-get($colors-text, 'white');
  font-size: $text-xs;
  background: map-get($table-colors, 'body');
  border-radius: $table-row-radius;

  &__header {
    padding-left: $scrollbar-offset;
    margin-left: 0;
    font-size: $text-sm;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    background: map-get($table-colors, 'header');

    &.row__cta {
      padding-left: calc(#{$table-cta-space} + #{$scrollbar-offset} + #{$scrollbar-width});
    }
  }

  &__cta {
    padding-left: $table-cta-space;
  }
}

.ctaWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: $table-end-padding;
  display: flex;
  align-items: center;
  justify-content: center;
}
