@import '$scss/local';
// --------------------- ===
//  LOCAL VARS
// ---------------------
$scrollbar-offset: $scrollbar-width * 2;

.row {
  position: relative;
  padding: 0 $table-end-padding;
  padding-right: $dropdown-space;
  margin-bottom: $table-row-margin-sm;
  margin-left: $scrollbar-offset;
  color: map-get($colors-text, 'white');
  font-size: $text-xs;
  background: map-get($table-colors, 'body');
  border-radius: map-get($radii, 'inner');

  @include breakpoint-up {
    padding-right: $table-end-padding;
    margin-bottom: $table-row-margin-lg;
  }

  &__header {
    padding-left: $scrollbar-offset;
    margin-left: 0;
    font-size: $text-sm;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    background: map-get($table-colors, 'header');

    @include breakpoint-down {
      // This hides the content but keeps the context for screen readers
      @include sr-only;
    }

    &.row__cta {
      padding-left: calc(#{$table-cta-space} + #{$scrollbar-offset} + #{$scrollbar-width});
    }
  }

  &__cta {
    @include breakpoint-up {
      padding-left: $table-cta-space;
    }
  }
}

.innerCrop {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: $table-row-height-sm;
  overflow: hidden;
  transition: max-height .8s;

  &__isDown {
    max-height: $table-row-height-sm * 6;
  }

  @include breakpoint-up {
    flex-wrap: nowrap;
    max-height: auto;
    // height: $table-row-height-lg;
  }
}

.ctaWrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: $z-index-lift;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, 50%);

  @include breakpoint-up {
    top: 0;
    left: $table-end-padding;
    transform: translate(0);
  }
}

.dropdownWrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: $z-index-lift;
  display: flex;
  align-items: center;
  width: $dropdown-space;
  height: $table-row-height-sm;
  padding: 0 $table-end-padding 0 $table-end-padding / 2;

  @include breakpoint-up {
    display: none;
  }
}
