@import '$scss/local';
// --------------------- ===
//  LOCAL VARS
// ---------------------
$table-br: $table-row-radius * 2;

// --------------------- ===
//  SCSS
// ---------------------
.wrapper {
  padding: 2px;
  background: map-get($table-colors, 'background');
  border-radius: $table-br;
}

.inset {
  background: map-get($table-colors, 'inset');
  border-radius: $table-br;
}
